langchain
langchain-ollama
langchain-chroma
pdfplumber
pytesseract
Pillow
python-multipart
sqlalchemy
openai-whisper
python-dotenv
markdown
fastapi
uvicorn
rank-bm25
sentence-transformers
psycopg2-binary